body {
    background-color: wheat
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
  }
  
  button {
    height: 100px;
    width: 100px;
    font: 40px Arial;
  }
  
  .cancel {
    width: 200px;
  }
  
  .base-number {
    width: 300px;
  }
  
  .function {
    background-color: orangered;
  }